<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>SUFeedURL</key>
	<string>https://jystringfellow.github.io/FracTile/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>bBOM/uvBOT8y48NWVt4WmtdJVTY/rZiOBBjYh/osfKE=</string>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUAllowsAutomaticUpdates</key>
	<true/>
</dict>
</plist>
